{:aliases
 {:dev {:extra-paths ["dev/src" "test"]
        :extra-deps {org.clojure/tools.deps ^:antq/exclude {:git/url "https://github.com/clojure/tools.deps.git":git/sha "8f8fc2571e721301b6d52e191129248355cb8c5a"}
                     org.clojure/test.check {:mvn/version "1.1.1"}
                     com.cognitect/transcriptor {:mvn/version "0.1.5"}
                     org.jsoup/jsoup {:mvn/version "1.15.3"}
                     clj-gatling/clj-gatling {:mvn/version "0.17.6"}
                     com.microsoft.playwright/playwright {:mvn/version "1.28.1"}
                     io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
