{:aliases
 {:dev {:extra-paths ["dev/src" "test"]
        :extra-deps {org.clojure/clojure ^:antq/exclude {:mvn/version "1.10.2"}
                     org.clojure/test.check {:mvn/version "1.1.1"}
                     org.clojure/tools.analyzer.jvm {:mvn/version "1.2.3"}
                     com.cognitect/transcriptor {:mvn/version "0.1.5"}
                     org.jsoup/jsoup {:mvn/version "1.15.4"}
                     clj-gatling/clj-gatling {:mvn/version "0.17.6"}
                     com.microsoft.playwright/playwright {:mvn/version "1.31.0"}
                     criterium/criterium {:mvn/version "0.4.6"}
                     io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                     fipp/fipp {:mvn/version "0.6.26"}
                     com.widdindustries/time-literals {:mvn/version "0.1.10"}}}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "b0ee58b"}}
          :ns-default build}}}
